@{
    ViewBag.Title = "InvalidLink";
    Layout = null;
}
<link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/css/style.css")" />
<div class="accessDenied">
    This link is Invalid or Expired.
</div>



